header.aboutHead {
  color: var(--text-color);
  font-size: 35px;
  text-decoration: underline;
  font-weight: bold;
}
.aboutText {
  margin-top: 50px;
  color: var(--text-color);
  font-weight: 350;
  font-size: 30px;
  line-height: 1.7;
  padding: 0 32px;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
}

.avatarImage {
  border-radius: 50px;
  margin-top: 16px;
  height: 315px;
  width: 249px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.aboutHead {
  color: var(--text-color);
  font-size: 45px;
  font-family: monospace;
  letter-spacing: 10px;
  border-right: 3px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: typing-desktop 2s steps(15, end) forwards,
    cursor 0.4s step-end infinite alternate;
  width: 0;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.main-container {
  padding-top: 20px !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  overflow-x: hidden;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing-desktop {
  from {
    width: 0;
  }
  to {
    width: 19ch;
  }
}

@keyframes typing-mobile {
  from {
    width: 0;
  }
  to {
    width: 30ch;
  }
}

@media (max-width: 768px) {
  .aboutHead {
    font-size: 35px;
    letter-spacing: 5px;
    animation: typing-mobile 1.5s steps(15, end) forwards,
      cursor 0.4s step-end infinite alternate;
    width: 0;
    max-width: 90%;
  }
}

@media (max-width: 375px) {
  .aboutHead {
    font-size: 25px;
    letter-spacing: 6px;
    animation: typing-mobile 1.2s steps(15, end) forwards,
      cursor 0.4s step-end infinite alternate;
    width: 0;
    max-width: 95%;
  }
}

@media (max-width: 600px) {
  .main-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .aboutHead {
    font-family: monospace !important;
    font-size: 1em !important;
    padding: 0.2em 0.4em !important;
    margin: 0.2em 0 !important;
    text-align: center !important;
    display: block !important;
  }
  .aboutText {
    font-size: 1em !important;
    padding: 0.2em 0.4em !important;
    margin-top: 50px !important;
    margin-bottom: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
