.nav-tabs {
  background-size: cover;
  background-position: center;
  padding: 10px;
  box-shadow: 0 opx 0px rgba(0, 0, 0, 0.1);
  border: none;
}

a.nav-link {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

a.nav-link.active {
  color: orange;
  font-weight: bold;
  text-decoration: underline;
}
a.nav-link:hover {
  color: blue;
}
