.resumeHead{
    text-decoration: underline;
    color: black
}
.resumeText{
    color: black;
    font-size: 25px;
    font-weight: 350;
}

.download-link{
    display: flex;
    justify-content: center;
}