header.aboutHead{
    color: rgb(22, 22, 22);
    font-size: 35px;
    text-decoration: underline;
    font-weight: bold;
}
.aboutText{
    display: flex;
    margin-top: 100px;
    color: black;
    font-weight: 350 ;
    font-size: 30px;
}
.avatarImage{
    border-radius: 50px;
    margin-top: 53px;
    height: 315px;
    width: 249px;
}