h1.aboutHead{
    color: orange;
    text-decoration: underline;
}

.aboutText{
    color: black;
    font-weight: bolder ;
    font-size: 30px;
}

.avatarImage{
    height: 250px;
    width: 250px;
}