.nav-tabs {
    /* background-image: url('/sunface.gif');  */
    /* background-color: rgb(248, 239, 4); */
    background-size: cover; /* Adjust size to cover */
    background-position: center; /* Center the image */
    padding: 10px;
    box-shadow: 0 opx 0px rgba(0, 0, 0, 0.1); 
    border:  none;
}

a.nav-link{
    color: orange;
    font-weight:bold;
    text-decoration: underline;
}

a.nav-link.active{
    color: orange;
    font-weight:bold;
    text-decoration: underline;
}
  

a.nav-link:hover{
    color: white;
}