.parentCard {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
.card {
    padding: 5px;
    border: 20px solid black;

}
.portfolioText{
    color: black;
    font-size: 30px;
    font-weight: 350;
}
header.portfolioHead {
    text-decoration: underline;
    color: black;
    font-size: 35px;
    font-weight: bold;
}
.readMeImage {
    height: 250px;
    width: 250px;
}
.VehicleBuilderImage {
    height: 250px;
    width: 250px;
}
.GameWorldImage {
    height: 250px;
    width: 250px;
}

.weatherimage {
    height: 250px;
    width: 250px;
}

.avatarimage {
    height: 250px;
    width: 250px;
}


